[bed_screws]
screw1: 45, 45
screw1_name: front left screw
screw2: 45, 215
screw2_name: front right screw
screw3: 250, 215
screw3_name: rear right screw
screw4: 250, 45
screw4_name: rear left screw

[screws_tilt_adjust]
screw1: -4, 47
screw1_name: front left screw
screw2: -4, 233
screw2_name: rear left screw
screw3: 200, 233
screw3_name: rear right screw
screw4: 200, 47
screw4_name: front right screw
#speed: 50
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
#horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
# CW is seen from bed to bottom
screw_thread: CW-M4
#   The type of screw used for bed leveling, M3, M4, or M5, and the
#   rotation direction of the knob that is used to level the bed.
#   Accepted values: CW-M3, CCW-M3, CW-M4, CCW-M4, CW-M5, CCW-M5.
#   Default value is CW-M3 which most printers use. A clockwise
#   rotation of the knob decreases the gap between the nozzle and the
#   bed. Conversely, a counter-clockwise rotation increases the gap.